.advantages-image-container {
  &--contrast {
    background-color: @background-color;
  }
}

@media (min-width: @tablet-width) {
  .advantages-image-container {
    display: flex;
    width: 100%;
  }
}
