.catalog-introduction {
  background-color: @basic-color;
}

.catalog-introduction__header {
  font-family: @font-family;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @font-color-basic;
}

.catalog-introduction__description {
  font-family: @font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @font-color-light;
}
