.gallery-header {
  background-image: url("../img/welcome-border.svg"), url("../img/background-welcome.jpg");
  background-repeat: no-repeat;
  background-color: #1757b8;
  background-size: 100% auto;
  min-height: 214px;
  background-position: bottom;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-welcome@2x.jpg");
    background-size: 640px auto;
  }
}

.gallery-header__wrapper {
  width: 284px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .gallery-header__wrapper {
    width: 648px;
    margin: 0 auto;
  }

  .gallery-header {
    background-image: url("../img/welcome-border-tablet.svg"), url("../img/background-welcome-tablet.jpg");
    max-height: 290px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-welcome-tablet@2x.jpg");
      background-size: 1535px auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .gallery-header__wrapper {
    width: 1200px;
    margin: 0 auto;
  }

  .gallery-header {
    background-image: url("../img/welcome-border-desktop.svg"), url("../img/background-welcome-desktop.jpg");
    max-height: 300px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-welcome-desktop@2x.jpg");
      background-size: 2400px auto;
    }
  }
}
