.hotel-search-form {
  background-color: @basic-color;
}

.hotel-search-form__title {
  font-family: @font-family;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: @font-color-basic;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  margin-bottom: 26px;
}

.hotel-search-form__description {
  font-family: @font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @font-color-light;
  margin: 0;
  text-align: center;
  margin-bottom: 32px;
}

.hotel-search-form__button {
  background-color: @background-color;
  font-family: @font-family;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: @font-color;
  text-decoration: none;
  display: block;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.hotel-search-form__button:hover {
  background-color: #669ec0;
}

.hotel-search-form__button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-search-form__button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.hotel-search-form__wrapper {
  width: 284px;
  margin: 0 auto;
  padding-top: 38px;
  padding-bottom: 49px;
}

@media (min-width: @tablet-width) {
  .hotel-search-form__wrapper {
    width: 648px;
    margin: 0 auto;
    padding-top: 51px;
    padding-bottom: 58px;
  }

  .hotel-search-form__title {
    font-size: 30px;
  }

  .hotel-search-form__button {
    width: 458px;
    margin-left: auto;
    margin-right: auto;
  }

  .hotel-search-form__description {
    margin-bottom: 39px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: @desktop-width) {
  .hotel-search-form__wrapper {
    width: 1200px;
    margin: 0 auto;
    padding-top: 61px;
    padding-bottom: 66px;
  }

  .hotel-search-form__button {
    width: 458px;
  }
}
