.site-list {
  list-style-type: none;
}

.site-list__link {
  font-family: @font-family;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @font-color;
  text-decoration: none;
}

.site-list__item {
  background-color: @background-color;
}
