.site-list {
  list-style-type: none;
}

.site-list__link {
  font-family: @font-family;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @font-color;
  text-decoration: none;
}

.site-list__item {
  background-color: @background-color;
  padding-top: 17px;
  padding-bottom: 12px;
  text-align: center;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  &--active {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .site-list__link {
    font-size: 14px;
    line-height: 21px;
    color: @font-color-light;
    text-align: center;
  }

  .site-list__link--main {
    padding-left: 48px;
    padding-right: 47px;
  }

  .site-list__link--photo {
    padding-left: 28px;
    padding-right: 27px;
    margin-right: 153px;
  }

  .site-list__link--form {
    padding-left: 25px;
    padding-right: 24px;
  }

  .site-list__link--academy {
    padding-left: 28px;
    padding-right: 27px;
  }

  .site-list__item {
    background-color: transparent;
    border: none;
    padding-top: 18px;
    padding-bottom: 17px;
  }
}

@media (min-width: @desktop-width) {
  .site-list__link {
    font-size: 14px;
    line-height: 21px;
    color: @font-color-light;
    text-align: center;
  }

  .site-list__item {
    background-color: transparent;
  }

  .site-list__link--main {
    padding-left: 91px;
    padding-right: 91px;
  }

  .site-list__link--photo {
    padding-left: 71px;
    padding-right: 71px;
    margin-right: 240px;
  }

  .site-list__link--form {
    padding-left: 68px;
    padding-right: 68px;
  }

  .site-list__link--academy {
    padding-left: 71px;
    padding-right: 71px;
  }
}
