.social__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.social__link {
  text-align: center;
}

.social__item {
  margin-right: 6px;
}

.social__icon {
  fill: #81b3d2;
}

.social__item:hover .social__icon {
  fill: #669ec0;
}

.social__item:active .social__icon {
  fill: #5496bd;
}
